<div class="container">
  <div
    class="column"
    *ngFor="let i of [0, 0, 0, 0, 0, 0, 0, 0, 0]; let column = index"
  >
    <div
      class="row"
      *ngFor="let i of [0, 0, 0, 0, 0, 0, 0, 0, 0]; let row = index"
    >
      <app-cell
        [cellsEnteredAreGiven]="cellsEnteredAreGiven"
        [cell]="allCells[row][column]"
        [allCells]="allCells"
        (focussed)="clearFocus()"
      ></app-cell>
    </div>
  </div>
</div>
<mat-checkbox (change)="enterGiven($event)">Enter given</mat-checkbox> <br />
<button mat-raised-button (click)="importGameService.importHardGame()">
  Import hard game</button
><button mat-raised-button (click)="importGameService.importAnotherHardGame()">
  Import another hard game
</button>
<button mat-raised-button (click)="importGameService.importEasyGame()">
  Import easy game
</button>
<button mat-raised-button (click)="importGameService.importVeryHardGame()">
  Import very hard game
</button>
