<div class="container">
  <div
    class="column"
    *ngFor="let i of [0, 0, 0, 0, 0, 0, 0, 0, 0]; let column = index"
  >
    <div
      class="row"
      *ngFor="let i of [0, 0, 0, 0, 0, 0, 0, 0, 0]; let row = index"
    >
      <app-cell
        [cellsEnteredAreGiven]="cellsEnteredAreGiven"
        [structCell]="cells[row][column]"
        [cells]="cells"
        (focussed)="clearFocus()"
      ></app-cell>
    </div>
  </div>
</div>
<mat-checkbox (change)="enterGiven($event)">Enter given</mat-checkbox> <br />
<button
  mat-raised-button
  (click)="importGameService.importHardGame(this.cells)"
>
  Import hard game
</button>
<button
  mat-raised-button
  (click)="importGameService.importEasyGame(this.cells)"
>
  Import easy game
</button>
<button
  mat-raised-button
  (click)="pairsOfPairsService.findPairsOfPairs(this.cells)"
>
  Find pairs of pairs
</button>
