<button
  class="cell"
  [style.backgroundColor]="getBackground()"
  [style.color]="structCell.error ? 'red' : 'black'"
  [style.borderBottomWidth.px]="
    structCell.row === 2 || structCell.row === 5 ? 2 : 1
  "
  [style.borderRightWidth.px]="
    structCell.column === 2 || structCell.column === 5 ? 2 : 1
  "
  (click)="leftClicked()"
  (contextmenu)="rightClicked()"
>
  <span *ngIf="structCell.large" style="font-size: x-large">
    {{ structCell.large }}</span
  >
  <span *ngIf="!structCell.large" style="word-wrap: anywhere">
    {{ displaySmalls() }}</span
  >
</button>
