<button
  class="cell"
  [style.backgroundColor]="getBackground()"
  [style.color]="cell.error ? 'red' : 'black'"
  [style.borderBottomColor]="
    cell.rowIndex === 2 || cell.rowIndex === 5 ? 'black' : 'lightgrey'
  "
  [style.borderRightColor]="
    cell.columnIndex === 2 || cell.columnIndex === 5 ? 'black' : 'lightgrey'
  "
  (click)="leftClicked()"
  (contextmenu)="rightClicked()"
>
  <span *ngIf="cell.digit" style="font-size: x-large"> {{ cell.digit }}</span>
  <span *ngIf="!cell.digit" style="word-wrap: anywhere">
    {{ displayCandidates() }}</span
  >
</button>
