<button
  class="cell"
  [style.backgroundColor]="getBackground()"
  [style.color]="structCell.error ? 'red' : 'black'"
  [style.borderBottomColor]="
    structCell.rowIndex === 2 || structCell.rowIndex === 5
      ? 'black'
      : 'lightgrey'
  "
  [style.borderRightColor]="
    structCell.columnIndex === 2 || structCell.columnIndex === 5
      ? 'black'
      : 'lightgrey'
  "
  (click)="leftClicked()"
  (contextmenu)="rightClicked()"
>
  <span *ngIf="structCell.digit" style="font-size: x-large">
    {{ structCell.digit }}</span
  >
  <span *ngIf="!structCell.digit" style="word-wrap: anywhere">
    {{ displayCandidates() }}</span
  >
</button>
